/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /* Ensure fallback font */
}


@theme {
  --color-primary: #002c66;

  --color-gray: #ebebeb;
  --color-grayMedium: #767676;
  --color-black-200: #9a9a9c;
  --color-black: #0a0303;
  --color-red: #e21b1b;
  --color-red-light: ##ffeeee;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dfdfdf00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #6b5ecc34;  */
  background: #f6f6f6;
  border-radius: 10px;
}

/* ----------- Antd OTP Width  ---------  */
.ant-otp-input-wrapper {
  width: 100% !important;
}

.input-otp__field {
  max-width: fit-content !important;
  color: #0a0303;
}

.ant-otp {
  width: 100% !important;
}

.subscriptionTable .ant-table-pagination {
  justify-content: center;
}

.ant-menu-item:not(.ant-menu-item-selected):active {
  color: #ffffff !important;
}

.ant-drawer-body {
  padding: 0 !important;
  width: 102%;
}

/* Responsive Range Calander  */

@media (max-width: 768px) {
  :where(.css-dev-only-do-not-override-63q0bi).ant-picker-dropdown
    .ant-picker-panel-container
    .ant-picker-panels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  :where(.css-dev-only-do-not-override-63q0bi).ant-picker-dropdown
    .ant-picker-panel-container
    .ant-picker-panels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
